services:
  php:
    build: .
    command: sh -c "composer install --no-interaction"
    volumes:
      - ./src:/var/www/html 
    networks:
      - dev-network

  nginx:
    image: nginx:1.28-alpine
    ports:
      - "80:80"
    volumes:
      - ./src:/var/www/html
      - ./.docker/nginx/conf.d/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - dev-network

  mysql:
    image: mysql:9.6
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: app
      MYSQL_USER: app_user
      MYSQL_PASSWORD: app_password
    volumes:
      - db_data:/var/lib/mysql 
    networks:
      - dev-network


volumes:
  db_data:


networks:
  dev-network:
    driver: bridge