@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic|Noticia+Text:400,700,400italic);
html {
  background: white url("../images/main_bg.jpg") repeat-x fixed left top;
  margin: 0;
  padding: 0; }

body {
  background: url("../images/header_bg.png") no-repeat fixed center top;
  width: 960px;
  margin: 0 auto;
  min-height: 458px;
  padding-top: 25px; }

a {
  color: #99cc00; }

header[role="banner"] h1 {
  font-family: 'Noticia Text', serif;
  font-size: 32px;
  font-weight: bold; }
header[role="banner"] h2 {
  font-family: 'Lato', sans-serif;
  text-transform: lowercase;
  font-size: 18px;
  padding-top: 5px;
  padding-left: 75px; }

article.resume {
  background: #FFF;
  margin: 25px 0;
  padding: 15px 25px;
  font: 15px Verdana;
  box-shadow: 0 0 2px #888;
  border-radius: 10px; }
  article.resume section {
    margin: 15px 0; }
    article.resume section > header h1 {
      color: #666;
      font-weight: normal;
      font-family: Helvetica, sans-serif;
      background-color: #F6F6F6;
      border-left: 4px solid #98caeb;
      padding-left: 10px;
      padding: 5px 10px;
      margin-bottom: 15px; }

section.experience ol :first-child {
  margin-top: 0; }
section.experience li {
  margin: 15px 0 35px 0;
  position: relative;
  border: 1px solid #FCFCFC; }
  section.experience li header h1 {
    font-size: 18px;
    text-align: left;
    line-height: 25px;
    font-weight: bold;
    font-family: Helvetica, sans-serif; }
  section.experience li header h2 {
    font-family: Tahoma, Geneva, sans-serif;
    color: #545454;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    line-height: 22px; }
  section.experience li header .start, section.experience li header .end {
    background: #fff;
    border-top: 1px dashed #ddd;
    font-size: 11px;
    right: 0;
    padding: 4px 0;
    position: absolute;
    text-align: center;
    top: 25px;
    width: 100px; }
  section.experience li header .end {
    top: 0;
    border: none; }
  section.experience li p {
    font-size: 0.9em;
    line-height: 22px;
    margin: 10px 0 0;
    padding-left: 0; }

section.skills {
  zoom: 1; }
  section.skills:before, section.skills:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  section.skills:after {
    clear: both; }
  section.skills dl {
    margin-left: 15px; }
    section.skills dl dt {
      clear: left;
      display: inline;
      float: left;
      margin: 10px 5px 10px 0;
      padding: 2px;
      text-align: right;
      width: 200px; }
    section.skills dl dd {
      background: #dfdfdf;
      display: inline;
      float: left;
      font-size: 0.8em;
      margin: 10px 4px;
      padding: 4px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
      cursor: default; }
      section.skills dl dd :hover {
        background-color: #ccc;
        -webkit-box-shadow: inset 0px 2px 1px 1px rgba(0, 0, 0, 0.15);
        box-shadow: inset 0px 2px 1px 1px rgba(0, 0, 0, 0.15); }