.sidebar-about h1 {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

.experience > ul > li {
    position: relative;
    list-style: none;
}



.experience .org-name {
    margin-bottom: 0;
}

.experience p {
    margin-top: .5rem;
}


.experience header .start, .experience header .end {
  font-size: .75rem;
}

.experience header .end:before {
    content: " - ";
}

.skills dl {
    overflow: hidden; /* clearfix */
}

section.skills dl dd {
  background: #dfdfdf;
  display: inline-block;
  font-size: 0.8em;
  margin: 10px 4px;
  padding: .25rem .5rem;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
  cursor: default;
}

@media (min-width: 980px) {
    .content {
        max-width: 55rem;
    }

    section.skills dl dt {
        clear: left;
        display: inline;
        float: left;
        margin: .5rem 0;
        padding: 0 .5rem;
        text-align: right;
        width: 12rem;
    }

    section.skills dl div {
        margin-left: 12rem;
    }
}

@media (max-width: 980px) {
    .content {
        padding-top: 0;
    }
}