/*
 * File Upload Form Widget
 */

/*
 * Control UI
 */

.field-fileupload {
    .uploader-control-container {
        border-radius: 4px;
        border: 1px solid var(--bs-border-color);
        background: var(--oc-form-control-bg);

        .uploader-control-toolbar {
            padding: 3px;
            font-size: 0;
            white-space: nowrap;

            .backend-toolbar-button {
                &.populated-only {
                    display: none;
                }
            }
        }

        &.external-toolbar {
            background: transparent;

            .uploader-control-toolbar {
                display: none;
            }
        }
    }

    &.file-drag-over .uploader-control-container {
        border: 1px solid var(--bs-primary);
        box-shadow: 0 0 0 1px var(--bs-primary);
    }

    &.is-populated {
        .uploader-control-toolbar {
            border-bottom: 1px solid var(--oc-toolbar-border);

            .backend-toolbar-button.populated-only {
                display: inline-block;
            }
        }
    }

    &.is-preview {
        .uploader-control-container {
            background-color: var(--oc-form-control-disabled-bg);
        }

        .uploader-control-toolbar {
            display: none;
        }
    }
}

/*
 * Size variants
 */

.field-fileupload {
    &.size-tiny .upload-files-container {
        max-height: 100px;
        overflow: auto;
    }

    &.size-small .upload-files-container {
        max-height: 200px;
        overflow: auto;
    }

    &.size-large .upload-files-container {
        max-height: 400px;
        overflow: auto;
    }

    &.size-huge .upload-files-container {
        max-height: 500px;
        overflow: auto;
    }

    &.size-giant .upload-files-container {
        max-height: 700px;
        overflow: auto;
    }

    &.size-auto {
        overflow: auto;
    }

    &.size-adaptive {
        position: absolute;
        height: 100%;
        width: 100%;
        background: var(--bs-body-bg);

        .uploader-control-container {
            border: none !important;
            padding: 14px;
        }

        .empty-state {
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &.is-populated {
            .empty-state {
                display: none;
            }
        }
    }
}

/*
 * Uploaded item
 */

.field-fileupload {
    .upload-object {
        position: relative;
        outline: none;
        display: block;
        margin: 4px 4px 0 4px;

        &:last-child {
            margin-bottom: 4px;
        }

        h4.filename, p {
            color: var(--oc-toolbar-color);
            font-size: 14px;
            word-break: break-all;
            line-height: 1.4;
            margin-bottom: 8px;
        }

        h4.filename {
            font-weight: 600;
            margin-top: -2px;
        }

        p.description {
            margin-top: -4px;

            &:empty {
                display: none;
            }
        }

        p.size {
            font-size: 0.875em;
            color: var(--bs-secondary-color);
        }

        &.upload-object-image {
            h4.filename {
                padding-top: 10px;
            }
        }

        .file-data-container {
            padding: 3px;
            border-radius: 4px;

            &:hover {
                background: var(--oc-toolbar-hover-bg);
            }

            .file-data-container-inner {
                position: relative;
            }
        }

        &.selected {
            .icon-container i {
                color: white;
            }

            .file-data-container {
                background: var(--oc-selection);

                h4.filename, p, div.error-message {
                    color: white;
                }
            }
        }

        .drag-handle {
            position: absolute;
            display: none;
            color: #72809d;
            cursor: move;
            left: -1px;
            top: 23px;
            font-size: 24px;
            text-decoration: none;
        }

        &:hover {
            .drag-handle {
                display: block;
            }
        }

        .form-check {
            position: absolute;
            left: 3px;
            top: 2px;
        }
    }

    &.is-preview {
        .upload-object {
            .form-check {
                display: none;
            }
        }
    }

    .empty-state {
        display: none;
    }
}

/*
 * Loading State
 */

.field-fileupload {
    .upload-object {
        .icon-container:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 40px;
            height: 40px;
            margin-top: -20px;
            margin-left: -20px;
            border: 3px solid var(--oc-primary-border);
            border-top-color: var(--oc-accent);
            border-radius: 50%;
            animation: spin 0.8s linear infinite;
        }

        &.is-success {
            .icon-container {
                opacity: 1;

                &:after {
                    display: none;
                }
            }
        }

        &.is-loading {
            .icon-container {
                opacity: .6;
            }

            .icon-container:after {
                display: block;
            }
        }
    }
}

/*
 * Success state
 */

.field-fileupload {
    .upload-object.is-success {
        .file-data-container-inner {
            cursor: pointer;
        }

        .progress-bar {
            opacity: 0;
            transition: opacity .3s ease;
        }
    }
}

/*
 * Error State
 */

.field-fileupload {
    .upload-object.is-error {
        .file-data-container-inner {
            cursor: pointer;
        }

        .icon-container {
            opacity: 1;

            > img, > i {
                opacity: .5;
            }

            /* Error icon added by JS */
            .error-icon {
                position: absolute;
                font-size: 40px;
                color: var(--bs-danger);
                filter: drop-shadow(1px 1px 0 rgba(255,255,255,.5));
            }

            &:after {
                display: none;
            }
        }

        .info h4 {
            color: var(--bs-danger);

            a {
                display: none;
            }
        }

        div.error-message {
            font-size: .875em;
        }

        .drag-handle {
            display: none !important;
        }
    }
}

/*
 * Preview mode
 */

.field-fileupload {
    &.is-preview {
        .upload-button,
        .drag-handle {
            display: none !important;
        }
    }

    /* Grid mode (small screens and above) */
    @media (min-width: 768px) {
        &.is-grid .upload-files-container {
            display: flex;
            flex-wrap: wrap;

            .upload-object {
                width: 300px;

                h4.filename, p {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
        }
    }
}

/*
 * Image mode
 */

.field-fileupload.is-image {
    .upload-object.upload-object-image {
        .file-data-container {
            .file-data-container-inner {
                padding-left: 103px;
                min-height: 95px;
            }
        }

        .icon-container {
            position: absolute;
            left: 0;
            top: 0;
            width: 95px;
            height: 95px;
            overflow: hidden;
            border: 1px solid var(--bs-border-color);
            border-radius: 4px;
            background: var(--oc-primary-bg);
            user-select: none;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                display: block;
                max-height: 100%;
                max-width: 100%;
            }
        }

        &.mode-multi {
            .file-data-container {
                margin-left: 23px;
            }
        }
    }

    &.is-preview {
        .upload-object.upload-object-image {
            &.mode-multi {
                .file-data-container {
                    margin-left: 0;
                }
            }
        }
    }
}

/*
 * File mode
 */

.field-fileupload.is-file {
    .upload-object.upload-object-file {
        .file-data-container-inner {
            padding-top: 4px;
        }

        .icon-container, .info, .info h4, .info h4 p {
            vertical-align: top;
            display: inline-block;
        }

        .icon-container {
            margin-top: -2px;
            width: 20px;
            height: 20px;
            position: absolute;

            i {
                margin-top: 4px;
                margin-left: 3px;
                display: none;
            }

            &:after {
                width: 20px;
                height: 20px;
                margin-top: -10px;
                margin-left: -10px;
                border-width: 2px;
            }
        }

        .info {
            padding-left: 22px;
        }

        h4, h4 p, p.description {
            margin-bottom: 0;
        }

        h4 p {
            font-weight: normal;

            &:before {
                content: ' (';
            }

            &:after {
                content: ')';
            }
        }

        .form-check {
            top: 6px;
        }

        &.mode-multi {
            .file-data-container {
                margin-left: 43px;
            }

            .drag-handle {
                display: block;
                left: 24px;
                top: 0;
            }
        }

        &.is-success {
            .icon-container {
                i {
                    display: inline-block;
                }
            }
        }

        &.is-loading {
            .icon-container {
                opacity: 1;

                > i {
                    display: none;

                    &:after {
                        display: block;
                    }
                }
            }
        }

        &.is-error {
            .icon-container {
                &, & > i {
                    opacity: 1;
                }

                > i {
                    display: inline-block;
                }

                &:after {
                    display: none;
                }
            }

            div.error-message {
                margin-left: 22px;
            }
        }
    }

    &.is-preview {
        .upload-object.upload-object-file {
            &.mode-multi {
                .file-data-container {
                    margin-left: 0;
                }
            }
        }
    }
}

/*
 * Config form / Popup
 */

:root, [data-bs-theme="light"] {
    --oc-fileupload-checkerboard-bg: #fefefe;
    --oc-fileupload-checkerboard-alt-bg: #cbcbcb;
}

[data-bs-theme="dark"] {
    --oc-fileupload-checkerboard-bg: #010101;
    --oc-fileupload-checkerboard-alt-bg: #343434;
}

.fileupload-config-form {
    .fileupload-url-button {
        padding-left: 0;

        > i {
            margin-right: 0;
            color: #666;
        }
    }

    .file-upload-modal-image-header {
        /* Photoshop transparent background */
        /* Based on: http://lea.verou.me/css3patterns/#checkerboard */
        background-color: var(--oc-fileupload-checkerboard-bg);
        background-image:
            linear-gradient(45deg, var(--oc-fileupload-checkerboard-alt-bg) 25%, transparent 25%, transparent 75%, var(--oc-fileupload-checkerboard-alt-bg) 75%, var(--oc-fileupload-checkerboard-alt-bg)),
            linear-gradient(45deg, var(--oc-fileupload-checkerboard-alt-bg) 25%, transparent 25%, transparent 75%, var(--oc-fileupload-checkerboard-alt-bg) 75%, var(--oc-fileupload-checkerboard-alt-bg));
        background-size: 20px 20px;
        background-position: 0 0, 10px 10px;

        &, img {
            border-radius: 2px 2px 0 0;
        }

        .btn-close {
            position: absolute;
            top: 10px;
            right: 10px;
            height: 24px;
            width: 22px;
            border-radius: 100px;
            background-color: rgba(255, 255, 255, 50%);
        }
    }

    .file-upload-modal-image-header + .modal-body {
        padding-top: 20px;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
