.oc-dashboard .dashboard-report-widget .dashboard-report-widget-static {
    .static-body {
        padding: var(--oc-widget-body-padding) var(--oc-widget-body-padding) 11px;
    }

    h3.widget-title {
        margin-bottom: 15px;
    }

    .table-container {
        margin-top: 0;
    }

    &.loading {
        .static-body {
            > span {
                display: flex;

                &:before {
                    content: '';
                    margin: 3px 0;
                    border-radius: 40px;
                    width: 60%;
                    background-color: var(--oc-color-widget-skeleton);
                    opacity: var(--oc-opacity-widget-skeleton);
                }
            }
        }
    }
}
